include README.md
include requirements.txt
include npdoc_to_md/wiki/Home.md
include npdoc_to_md/wiki/Logging.md
include npdoc_to_md/wiki/Render file.npmd
include npdoc_to_md/wiki/Render folder.npmd
include npdoc_to_md/wiki/Render object docstring.npmd
include npdoc_to_md/wiki/Render string.npmd
